@font-face{
    font-family: 'Century Gothic Regular';
    src: url('../../fonts/CenturyGothic.eot');
    src: url('../../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/CenturyGothic.woff') format('woff'),
    url('../../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    font-family: 'Century Gothic Regular', sans-serif;
    background-color: #EEF7DF;
    height: 100%;
}
h1{
    font-size: 24px;
}
a{
    outline: 0;
}
a:hover{
    text-decoration: none;
}
.header-bg{
    background: linear-gradient(90deg, #1CA06E 60%, #FCE152 30%);
    height: 115px;
}
.header{
    background: linear-gradient(-60deg, #FCE152 0%, #FCE152 70.22%, #1CA06E 70.32%);
    height: 115px;
    color: #1CA06E;
}
.logo{
    margin-top: 15px;
}
.logo-320px{
    margin-top: 15px;
    display: none;
}
.header-contacts{
    float: right;
    margin-top: 25px;
    font-size: 14px;
}
.header-contacts p{
    margin: 0;
}
.header-lang{
    margin-top: 8px;
    margin-left: 122px;
}
.header-lang.dropdown:hover>.header-lang-menu{
    display: block;
}
.header-lang-active{
    padding: 0 8px;
    font-size: 15px;
    color: #1CA06E;
    border-bottom: 2px solid #1CA06E;
}
.header-lang-active:hover{
    color: inherit;
}
.header-lang-arrow{
    font-size: 11px;
    margin-left: 8px;
}
.header-lang-menu{
    top: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    font-size: 15px;
    border-radius: 0;
    border: 1px solid #1CA06E;
    background-color: #FCE152;
    transform: translate3d(0px, 23px, 0px) !important;
}
.header-lang-item{
    padding: 0 29px 0 8px;
    color: #1CA06E;
}
.header-lang-item:hover{
    background-color: #1CA06E;
    color: #FCE152;
}
.header-lang-item:first-child{
    padding-bottom: 1px;
}
button:focus{
    outline: 0;
}
.navbar-toggler{
    margin-top: 30px;
    width: 56px;
    height: 40px;
    border-color: #1CA06E;
}
.navbar-toggler .icon-bar{
  background-color: #1CA06E;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}
.navbar-toggler .icon-bar{
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggler .icon-bar+.icon-bar{
  margin-top: 7px;
}
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1){
  transform: rotate(45deg) translate(7px, 7px);
  transition: ease all .2s;
}
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2){
  opacity: 0;
  transition: ease all .2s;
}
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3){
  transform: rotate(-45deg) translate(6px, -6px);
  transition: ease all .2s;
}
.header-nav{
    background-color: #FCE152;
    height: auto;
    border-bottom: 5px solid #1CA06E;
    color: #1CA06E;
}
.fixed-nav{
    position: fixed;
    top: 0;
	z-index: 2;
    width: 100%;
}
.navbar-nav{
    width: 100%;
}
.nav-link-item{
    font-size: 15px;
    color: #1CA06E;
}
.nav-link-item:hover{
    color: inherit;
}

li.nav-item:nth-child(n+3)>div.nav-menu{
    min-width: auto;
}
.navbar-nav>li.nav-item:last-child>a.nav-link{
    padding-right: 0;
    padding-left: 0;
}
.nav-menu{
    position: relative;
    top: 31px;
    background-color: #FCE152;
    border-radius: 0;
    border: none;
    border-top: 10px solid #1CA06E;
}
.nav-menu-item{
    color: #1CA06E;
    font-size: 13px;
    padding: 5px 20px 5px 20px;
    white-space: normal;
}
.nav-menu a:first-child{
    margin-top: 5px;
}
.nav-menu a:last-child{
    margin-bottom: 5px;
}
.nav-menu-item:hover{
    background-color: #1CA06E;
    color: #FCE152;
}
.nav-menu-item:focus{
    background-color: #1CA06E;
    color: #FCE152;
}
.nav-lang{
    padding: 8px 15px;
    background-color: #FCE152;
}
.nav-lang-item, .nav-call-item{
    display: inline;
}
.nav-lang-item{
    padding: 0;
    margin-right: 59px;
}
.nav-lang-item-active{
    border-bottom: 2px solid #1CA06E;
}
main{
    padding-top: 30px;
    padding-bottom: 160px;
    overflow: hidden;
}
.slider-nav{
    width: 760px;
    height: 92px;
    position: absolute;
    top: 268px;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #010101;
    background-color: rgba(255,255,255,0.75);
}
.slider-nav p{
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
}
.slider-nav a{
    color: #010101;
}
.swiper-pagination{
    position: relative;
    text-align: left;
    padding-left: 20px;
    padding-top: 4px;
}
.swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    margin-right: 10px;
    background: #1CA06E;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #FCE152;
}
section>a>h1{
    font-size: 18px;
    color: #010101;
    margin-bottom: 18px;
}
.news{
    padding-top: 30px;
    padding-right: 25px;
}
.news p{
    margin-bottom: 0;
}
.news-item{
    border-bottom: 1px solid #1CA06E;
}
.date p:after{
    content: "\f054";
    font-family: FontAwesome;
    font-size: 14px;
    color: #1CA06E;
    float: right;
}
.date{
    margin: 0;
    font-size: 14px;
    color: #999;
}
.news-title{
    display: block;
    color: #010101;
}
.news-title:hover{
    color: #010101;
}
#news-date-992px{
    display: none;
}
.title{
    font-size: 14px;
    color: #1CA06E;
}
.title:hover{
    color: #1CA06E;
}
.more{
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #999;
}
.more:hover{
    color: #999;
}
.photo{
    padding-top: 30px;
}
.big-img{
    width: 174px;
    height: auto;
    background-color: aqua;
}
.photo>.flex-row>.big-img:first-child{
    margin-right: 2px;
}
.big-img img{
    width: 100%;
    height: 100%;
}
.photo-row{
    margin-top: 2px;
}
.small-img{
    width: 115.5px;
    height: auto;
}
.photo>.flex-row>.small-img:first-child{
    margin-right: 2px;
}
.photo>.flex-row>.small-img:last-child{
    margin-left: 2px;
}
.small-img img{
    width: 100%;
    height: 100%;
}
.page-breadcrumb{
    margin-bottom: 30px;
    font-size: 14px;
    color: #999;
}
.page-breadcrumb>ol{
    background-color: rgba(0,0,0,0);
}
.page-breadcrumb>ol>li>a{
    color: #1CA06E;
}
.page-title{
    position: relative;
}
.page-title-name{
    width: auto;
    height: auto;
    position: absolute;
    bottom: 20px;
    left: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #010101;
    background-color: rgba(255,255,255,0.75);
}
.page-title-name>h1{
    margin: 0;
    padding: 16px 20px;
}
.page-content{
    position: relative;
    margin-top: 30px;
}
.page-text{
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: solid 1px #1CA06E;
}
.about-text-one{
    margin: 58px 0 0 30px;
}
.about-text-two{
    margin: 45px 0 0 30px;
}
.about-text-three{
    margin: 32px 0 0 30px;
}
.about-text-four{
    margin: 32px 0 0 30px;
}
.about-icon{
    object-fit: none;
    min-width: 200px;
    height: 206px;
}
.about-fuel{
    object-position: 0 0;
}
.about-tanker{
    object-position: -200px 0;
}
.about-storage{
    object-position: 0 -206px;
}
.about-industry{
    object-position: -200px -206px;
}
.about-icon-text{
    display: flex;
    margin-bottom: 40px;
}
.about-icons-second>.about-icon-text:last-child{
    margin-bottom: 0;
}
.mission-title{
    width: 100%;
    margin: 60px 0 0;
    text-align: center;
    font-size: 20px;
    line-height: 0.1em;
    border-bottom: 1px solid #1CA06E;
} 
.mission-title span{
    background: #EEF7DF;
    padding: 0 10px;
}
.mission-text{
    padding: 30px 0 30px;
    text-align: center;
    border-bottom: 1px solid #1CA06E;
}
.strategy-title{
    text-align: center;
    font-size: 20px;
    margin: 60px 0 20px 0;
}
.strategy-block{
    position: relative;
}
.strategy-svg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.strategy-img{
    display: block;
    margin: 0 auto;
}
.strategy-img-1199px{
    display: none;
}
.strategy-item{
    fill: #1CA06E;
    opacity: 0;
}
.strategy-item:hover{
    transition: opacity .2s ease;
    opacity: 0.3;
    cursor: pointer;
}
.strategy-item-line{
    fill: #8A8A89;
    opacity: 0;
}
.strategy-item-description{
    fill: #010101;
    display: none;
}
.strategy-item:hover + .strategy-item-line{
    opacity: 1;
}
.strategy-item:hover + .strategy-item-line + .strategy-item-description{
    display: block;
}
.strategy-icons{
    display: none;
    margin-bottom: 50px
}
.video{
    display: block;
    margin: 0 auto;
}
.video-block{
    border-top: 1px solid #1CA06E;
    padding-top: 60px;
}
.video-background{
    background: linear-gradient(-60deg, #FCE152 0%, #FCE152 50.22%, #1CA06E 50.32%);
    padding: 15px;
    width: 830px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}
.infrastructure-map-block{
    position: relative;
    margin-top: 60px;
}
#infrastructure-map area:hover{
    cursor: default;
}
.railroad-storage-marker, .oil-storage-marker, .fuel-station-marker:hover{
    cursor: pointer;
}
.infrastructure-main-marker{
    position: absolute;
    top: 37.7%;
    left: 46.6%;
    height: auto;
    width: 10%;
}
.railroad-storage-marker{
    display: none;
    position: absolute;
    top: 33.8%;
    left: 35%;
    height: auto;
    width: 4.5%;
}
#railroad{
    display: none;
}
.railroad-storage-border{
    top: 15.3%;
    left: 3.8%;
    width: 44.3%;
    height: auto;
}
#railroad-storage-border{
    display: none;
}
.oil-storage-marker{
    display: none;
    position: absolute;
    top: 32.6%;
    left: 63.2%;
    height: auto;
    width: 4.5%;
}
#oil{
    display: none;
}
.oil-storage-border{
    top: 11.9%;
    left: 53.7%;
    width: 45.8%;
    height: auto;
}
#oil-storage-border{
    display: none;
}
.fuel-station-marker{
    display: none;
    position: absolute;
    top: 73.5%;
    left: 54.8%;
    height: auto;
    width: 4.5%;
}
#fuel{
    display: none;
}
.fuel-station-border{
    top: 49.5%;
    left: 43.1%;
    width: 34.59%;
    height: auto;
}
#fuel-station-border{
    display: none;
}
.infrastructure-border{
    display: none;
    position: absolute;
}
.infrastructure-border>img{
    animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}
.infrastructure-description{
    display: none;
    position: absolute;
    padding: 10px;
    background-color: rgba(255,255,255,0.85);
    width: 50%;
    height: auto;
    font-size: 15px;
}
.infrastructure-show{
    display: block;
}
.infrastructure-description h2{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.infrastructure-description p{
    margin: 0;
}
.heading-title{
    margin-bottom: 35px;
}
.managment-person>h2{
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    background-color: rgba(255,255,255,0.75);
}
.managment-person>h2{
    color: #010101;
}
.managment-person>h2:hover{
    cursor: pointer;
    color: #1CA06E;
}
.managment-person-active{
    padding-bottom: 25px !important;
    background-color: #1CA06E !important;
    color: #FCE152 !important;
    cursor: default !important;
}
.managment-description{
    margin: 0 15px;
    padding: 15px;
    background-color: rgba(255,255,255,0.75);
}
.managment-description-content ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.managment-description-content ul li::before{
    content: "\2014";
    color: #1CA06E;
}
.managment-description-cross{
    float: right;
    color: #999;
}
.managment-description-cross:hover{
    cursor: pointer;
}
.managment-description-title{
    font-weight: bold;
}
.responsibility-title{
    font-size: 20px;
    margin-bottom: 35px;
}
.responsibility-item{
    padding-bottom: 15px;
    color: #1CA06E;
}
.responsibility-item>span{
    color: #010101;
}
.social-block{
    margin-bottom: 80px;
}
.social-block:last-child{
        margin-bottom: 0px;
    }
.social-text-1{
    padding-top: 100px;
}
.social-text-2{
    padding-top: 105px;
}
.social-text-3{
    padding-top: 60px;
}
.services-block{
    text-align: center;
    margin-bottom: 50px;
}
.services-icon{
    object-fit: none;
    width: 195px;
    height: 169px;
}
.services-icon-1{
    object-position: 0 0;
}
.services-icon-2{
    object-position: -195px 0;
}
.services-icon-3{
    object-position: -390px 0;
}
.services-icon-4{
    object-position: 0 -169px;
}
.services-icon-5{
    object-position: -195px -169px;
}
.services-text{
    padding-top: 20px;
    margin-bottom: 0;
}
.clients-partners-title{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 0.1em;
    border-bottom: 1px solid #1CA06E;
}
.clients-partners-title span{
    background: #EEF7DF;
    padding: 0 10px;
}
.clients-logo{
    height: 82px;
    object-fit: none;
}
.alrosa{
    width: 193px;
    object-position: 0 0;
}
.rushydro{
    width: 274px;
    object-position: -193px 0;
}
.yakutia{
    width: 291px;
    object-position: -467px 0;
}
.swiper-button-next{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%231CA06E'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev{
    background-image:  url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%231CA06E'%2F%3E%3C%2Fsvg%3E");
}
.clients-pagination{
    display: none;
    padding-top: 30px !important;
    padding-bottom: 0 !important;
    padding-left: 0;
}
.page-text-investors{
    margin-bottom: 0;
    padding-bottom: 30px;
    border-bottom: solid 1px #1CA06E;
}
.tabs>section {
	display: none;
	padding: 30px;
	background-color: rgba(255,255,255,0.85);
	border: 1px solid #DDD;
}
.tabs>section>p {
	line-height: 1.5;
	color: #010101;
}
.tabs>section>h2 {
    margin: 0 0 30px;
    font-size: 20px;
    text-align: center;
}
.tabs>section>img{
    display: block;
    margin: 0 auto 30px;
}
.tabs>section>p, .tabs>section>h2, .tabs>section>img{
    animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}
.tabs a{
    color: #010101;
}
.tabs a:hover{
    color: #1CA06E;
}
.investors-passport{
    margin-bottom: 15px;
}
.investors-passport p{
    margin-right: 10px;
}
.investors-presentation p, .investors-passport p{
    display: inline;
    margin-left: 10px;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.tabs>input {
	display: none;
	position: absolute;
}
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #AAA;
	border: 0px solid #DDD;
	border-width: 0 1px 1px 1px;
	background-color: rgba(255,255,255,0.85);
}
.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
.tabs>input:checked+label {
	color: #1CA06E;
	border-bottom: 1px solid rgba(255,255,255,0.85);
	background-color: rgba(255,255,255,0.85);
}
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2 {
	display: block;
}
.investors-file{
    margin-top: 23px;
    padding-top: 15px;
    border-top: 1px solid #1CA06E;
}
.documentation-icon{
    object-fit: none;
    width: 50px;
    height: 50px;
}
.word{
    object-position: 0 0;
}
.pdf{
    object-position: -50px 0;
}
.post-page-breadcrumb, .post-page-content{
    margin-right: 200px;
    margin-left: 200px;
}
.post-title{
    margin-bottom: 10px;
}
.post-date{
    font-size: 14px;
    color: #999;
    margin-bottom: 15px;
}
.post-img{
    width: 100%;
    margin-bottom: 30px;
}
.search{
    margin-bottom: 30px;
}
.search input{
    width: 200px;
    height: 35px;
    padding-left: 10px;
    border: 2px solid #1CA06E;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: rgba(255,255,255,0.85);
    color: #010101;
}
.search button{
    position: absolute;
    width: 40px;
    height: 35px;
    border: none;
    background: #1CA06E;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: #FCE152;
}
.search button:before{
    display: none;
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 900;
}
.presscenter-item{
    margin-bottom: 30px;
}
.presscenter-item-date{
    font-size: 12px;
    color: #999;
    margin-bottom: 0;
}
.presscenter-item-title{
    color: #1CA06E;
}
.presscenter-item-title:hover{
    color: #1CA06E;
}
.presscenter-item img{
    margin-right: 10px;
}
.media-item{
    margin-bottom: 30px;
}
.media-block{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.media-block a{
    color: #010101;
}
.media-block a:hover .media-img{
    transform: scale(1.1);
}
.media-block a:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(28, 160, 110, 0.9) 5%, rgba(0, 0, 0, 0) 40%);
    content: "";
}
.media-img{
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
}
.media-title{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background-color: rgba(255,255,255,0.75);
}
.media-title p{
    margin-bottom: 0;
}
.photo-post{
    margin-bottom: 30px;
}
.video-post{
    position: relative;
    padding-bottom: 56.25%;
}
.video-post iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}
.video-post-block{
    width: 100%;
    height: 50%;
}
.back-link{
    color: #1CA06E;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    margin-top: 40px;
    padding: 0;
    border: 0;
}
.back-link:before{
    display: none;
    font-family: "Font Awesome 5 Free";
    content: "\f30a";
    font-weight: 900;
}
.contacts-block p{
    margin: 0;
}
.contacts-block .col-lg-3>div, .contacts-block .col-lg-9>div{
    padding: 10px;
}
.contacts-block>.row:nth-child(3)>.col-lg-9>div>p{
    padding-bottom: 10px;
}
.contacts-block>.row:nth-child(7)>.col-lg-9>div>p:not(:last-child){
    padding-bottom: 10px;
}
.contacts-block>.row:not(:last-child)>.col-lg-3>div, .contacts-block>.row:not(:last-child)>.col-lg-9>div{
    border-bottom: 1px solid #1CA06E;
}
.contacts-block .col-lg-9>div{
    background-color: rgba(255,255,255,0.85);
}
.contacts-block>.row:nth-child(odd)>.col-lg-3>div{
    background-color: #E6E6E6;
}
.contacts-block>.row:nth-child(even)>.col-lg-3>div{
    background-color: #ECECEC;
}
.contacts-map{
    max-width: 429px;
}
.contacts-button{
    background-color: #1CA06E;
    color: #FCE152;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-style: none;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-color: #1CA06E;
}
.footer-copyright{
    display: inline-block;
}
.footer-logo{
    margin-top: 10px;
    margin-bottom: 6px;
}
.copyright{
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    color: #FCE152;
}
.footer-social{
    margin-top: 31px;
    display: inline-block;
    float: right;
}
.social{
    font-size: 25px;
    margin-left: 16px;
    color: #FCE152;
}
.social:hover{
    color: #FCE152;
}
.not-found-block{
    margin: 4% 15px;
}
.not-found-heading{
    font-size: 85px;
    margin: 0;
}
.not-found-text{
    font-size: 25px;
    margin-bottom: 20px;
}
.not-found-link{
    font-size: 20px;
    color: #1CA06E;
}
.not-found-link:hover{
    color: #1CA06E;
}
@media (min-width: 335px) and (max-width: 575px){
    .managment-person{
        margin: 0 auto;
        width: 305px;
    }
    .managment-description{
        margin: 0 auto;
        width: 305px;
    }
}
@media (max-width: 341px){
    .page-breadcrumb{
        font-size: 10px;
    }
}
@media (min-width: 342px) and (max-width: 385px){
    .page-breadcrumb{
        font-size: 12px;
    }
}
@media (max-width: 374px){
    .investors-passport p{
        display: block;
    }
    .investors-passport img{
        float: left;
        margin-right: 10px;
    }
}
@media (max-width: 396px){
    .investors-presentation p{
        display: block;
    }
    .investors-presentation img{
        float: left;
        margin-right: 10px;
    }
}
@media screen and (max-width: 400px){
	.tabs>label {
		padding: 15px;
	}
}
@media (max-width: 450px){
    .clients-pagination{
        display: block;
    }
    .clients-arrows{
        display: none;
    }
}
@media (max-width: 499px){
    .fuel-station-marker{
        top: 70.5%;
    }
}
@media (max-width: 525px){
    .about-icon-text{
        display: block;
    }
    .about-text-one, .about-text-two, .about-text-three, .about-text-four{
        margin: 15px 0 0 0;
        text-align: center;
    }
    .about-icon{
        display: block;
        margin: 0 auto;
    }
     main{
        padding-bottom: 206px;
    }
    .footer{
        height: 145px;
    }
    .footer-copyright{
        display: block;
        width: 242.27px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }
    .footer-social{
        display: block;
        float: none;
        text-align: center;
        width: 129.75px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 8px;
    }
    .footer-social>a:first-child{
        margin-left: 0;
    }
}
@media (min-width: 526px) and (max-width: 767px){
    .about-text-one{
        margin-top: 48px;
    }
    .about-text-two, .about-text-three{
        margin-top: 32px;
    }
}
@media (max-width: 575px){
    .strategy-text-one, .strategy-text-two, .strategy-text-three, .strategy-text-four, .strategy-text-five, .strategy-text-six{
        text-align: center;
        margin-top: 15px;
    }
    .video-background{
        padding: 10px;
        width: 820px;
    }
    #person-2, #person-3, #person-4, #person-5, #person-6{
        margin-top: 50px;
    }
}
@media (min-width: 576px){
    #strategy-icons-1{
        margin-bottom: 40px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .strategy-text-one, .strategy-text-two, .strategy-text-three, .strategy-text-four, .strategy-text-five, .strategy-text-six{
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 10px;
    }
    .strategy-text-one{
        margin-top: 15px;
    }
    .strategy-text-two{
        margin-top: 14px;
    }
    .strategy-text-three{
        margin-top: 18px;
    }
    .strategy-text-four{
        margin-top: 12px;
    }
    .strategy-text-five{
        margin-top: 25px;
    }
    .strategy-text-six{
        margin-top: 20px;
    }
    #strategy-icon-2{
        margin-top: 20px;
    }
}
@media (max-width: 767px){
    .header{
        background-image: linear-gradient(-60deg, #FCE152 0%, #FCE152 55.19%, #1CA06E 55.29%);
    }
    .header-nav>.container{
        padding: 0;
    }
    .logo{
        display: none;
    }
    .logo-320px{
        display: inline-block;
    }
    #person-3, #person-4, #person-5, #person-6{
        margin-top: 50px;
    }
    .post-img{
        width: 100%;
    }
}
@media (min-width: 768px){
    #person-4, #person-5, #person-6{
        margin-top: 50px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .header{
    background-image: linear-gradient(-60deg, #FCE152 0%, #FCE152 54.32%, #1CA06E 54.42%);
    }

    .header-nav>.container{
        padding: 0;
    }
     .logo-320px{
        display: none;
    }
    .about-text-one{
        margin-top: 65px;
    }
    .about-text-two, .about-text-three, .about-text-four{
        margin-top: 55px;
    }
    .strategy-text-one, .strategy-text-two, .strategy-text-three, .strategy-text-four, .strategy-text-five, .strategy-text-six{
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 25px;
    }
    .strategy-text-one{
        margin-top: 15px;
    }
    .strategy-text-two{
        margin-top: 12px;
    }
    .strategy-text-three{
        margin-top: 30px;
    }
    .strategy-text-four{
        margin-top: 25px;
    }
    .strategy-text-five{
        margin-top: 40px;
    }
    .strategy-text-six{
        margin-top: 30px;
    }
    #strategy-icon-1{
        margin-left: 20px;
    }
    #strategy-icon-2{
        margin-top: 6px;
    }
    .services-block{
        display: flex;
        text-align: left;
    }
    .services-text{
        padding-top: 71px;
        padding-left: 30px;
    }
    .services-block:nth-child(5) .services-text, .services-block:nth-child(4) .services-text{
        padding-top: 72px;
    }
}
@media (max-width: 991px){
    main{
        margin-top: 115px;
    }
    header{
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    .header-nav{
        background-color: rgba(0, 0, 0, 0);
        border-bottom: none;
        display: contents;
    }
    .lang-contacts{
        display: none;
    }
    .navbar-nav{
        background-color: #FCE152;
        padding: 0 15px 0 15px;
        overflow-y: auto;
        height: 233px;
    }
    .icon-list{
        display: block;
        float: right;
        width: 20px;
        height: 2px;
        background-color: #1CA06E;
    }
    .nav-item.dropdown .icon-list:nth-child(1){
        transform: rotate(0) translate(-5px, 10px);
    }  
    .nav-item.dropdown .icon-list:nth-child(2){
        transform: rotate(90deg) translate(10px, -15px);
    }
    .nav-item.dropdown.show .icon-list:nth-child(2){
        opacity: 0;
    }
    .navbar-nav>li.nav-item:not(:last-child){
        border-bottom: 1px solid #1CA06E;
    }
    .slider-nav{
        width: 100%;
        height: 100%;
        position: static;
        top: 0;
        bottom: 0;
        left: 0;
        font-size: 14px;
        line-height: 18px;
        background-color: rgba(255,255,255,0.75);
    }
    .swiper-pagination{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .news{
        padding-right: 15px;
    }
    .news-item{
        border-bottom: none;
    }
    .date p:after{
        content: "";
    }
    #news-date{
        padding-bottom: 5px;
    }
    .news-title{
        padding-bottom: 15px;
    }
    .more{
        margin-top: 0;
    }
    .photo-row{
        margin-bottom: 15px;
    }
    .page-title-name{
        position: static;
        bottom: 0;
        left: 0;
        margin-bottom: 30px;
        background-color: rgba(255,255,255,0.75);
    }
    .page-title-name>p{
        margin: 0;
        padding: 16px 5px;
    }
    .page-content{
        margin-top: 4px;
    }
    .infrastructure-description{
        position: relative;
        top: 10px !important;
        left: 0 !important;
        width: 100%;
    }
    .social-block:first-of-type{
        margin-top: 60px;
    }
    .social-text-1, .social-text-2, .social-text-3{
        padding-top: 30px;
    }
    .presscenter-item{
        margin-bottom: 15px;
    }
    .presscenter-item img{
        display: none;
    }
    .video-post-block{
       width: 100%;
    }
    .post-page-breadcrumb, .post-page-content{
        margin-right: 0;
        margin-left: 0;
    }
}
@media (min-width: 992px){
    .navbar-nav>li.nav-item:last-child{
        margin-left: auto;
    }
    li.nav-item:nth-child(2)>div.nav-menu{
        max-width: 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 0;
        padding-right: 16px;
    }
    .nav-lang{
        display: none !important;
    }
    .nav-item.dropdown:hover>.nav-menu{
        display: block;
    }
    .news-title, #news-date, #news-date-992px{
        padding: 10px 0;
    }
    .news-title:hover{
        text-decoration: underline;
    }
    .managment-description{
        padding: 0 15px;
        margin: 0;
        background-color: transparent;
    }
    #description-3>div, #description-6>div{
        padding: 15px;
        background-color: rgba(255,255,255,0.75);
    }
    .contacts-block .col-lg-3{
        padding-right: 0;
    }
    .contacts-block .col-lg-9{
        padding-left: 0;
    }
    .contacts-block .col-lg-3 p{
        text-align: center;
    }
    .contacts-block>.row:nth-child(7)>.col-lg-3>div{
        padding-bottom: 78px;
    }
    .contacts-block>.row:last-child>.col-lg-3>div{
        padding-bottom: 354px;
    }
    .contacts-block>.row:nth-child(3)>.col-lg-3>div{
        padding-bottom: 274px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .header{
    background-image: linear-gradient(-60deg, #FCE152 0%, #FCE152 64.99%, #1CA06E 65.09%);
    }
    #news-date-992px{
        display: block;
    }
    #news-date{
        display: none;
    }
    .about-text-one{
        margin-top: 33px;
    }
    .about-text-two{
        margin-top: 8px;
    }
    .about-text-three{
        margin-top: 0;
    }
    .about-text-four{
        margin-top: 0;
    }
    .strategy-text-one, .strategy-text-two, .strategy-text-three, .strategy-text-four, .strategy-text-five, .strategy-text-six{
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 10px;
    }
    .strategy-text-one{
        margin-top: 25px;
    }
    .strategy-text-two{
        margin-top: 8px;
    }
    .strategy-text-three{
        margin-top: 30px;
    }
    .strategy-text-four{
        margin-top: 25px;
    }
    .strategy-text-five{
        margin-top: 40px;
    }
    .strategy-text-six{
        margin-top: 30px;
    }
    .social-text-1{
        padding-top: 55px;
    }
    .social-text-2{
        padding-top: 45px;
    }
    .social-text-3{
        padding-top: 35px;
    }
    .social-text-3 + div>img{
        padding-top: 18px;
    }
    .post-page-breadcrumb, .post-page-content{
        margin-right: 150px;
        margin-left: 150px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .slider-nav{
        top: 206.38px;
    }
    .contacts-block>.row:nth-child(2)>.col-lg-9>div{
        padding-bottom: 10px;
    }
}
@media (max-width: 1199px){
    .strategy-title{
        margin-bottom: 30px;
    }
    .strategy-block{
        margin-bottom: 40px;
    }
    .strategy-svg{
        display: none;
    }
    .strategy-img{
        display: none;
    }
    .strategy-img-1199px{
        display: block;
        margin: 0 auto;
    }
    .strategy-icons{
        display: flex;
    }
    .strategy-icon-img{
        object-fit: none;
        margin: 0 auto;
    }
    .strategy-icon-1{
        width: 69px;
        height: 73px;
        object-position: 0 0;
    }
    .strategy-icon-2{
        width: 120px;
        height: 57px;
        object-position: -69px 0;
    }
    .strategy-icon-3{
        width: 106px;
        height: 73px;
        object-position: -189px 0;
    }
    .strategy-icon-4{
        width: 73px;
        height: 73px;
        object-position: -295px 0;
    }
    .strategy-icon-5{
        width: 53px;
        height: 93px;
        object-position: -368px 0;
    }
    .strategy-icon-6{
        width: 103px;
        height: 73px;
        object-position: -421px 0;
    }
    .video-block{
        margin-top: 20px;
    }
}
@media (min-width: 1200px){
    .video-block{
        margin-top: 60px;
    }
    .managment:nth-child(1)>.managment-person, .managment:nth-child(7)>.managment-person{
        float: left;
    }
    .managment:nth-child(3)>.managment-person, .managment:nth-child(9)>.managment-person{
        margin: 0 auto;
        width: 305px;
    }
    .managment:nth-child(5)>.managment-person, .managment:nth-child(11)>.managment-person{
        float: right;
    }
    .contacts-block>.row:nth-child(3)>.col-lg-3>div{
        padding-bottom: 274px;
    }
}